<div class="logo">
  <img class="logocls" src= "/assets/logo.png">
</div>
<div >
  <h1 class="text-center">Welcome to E-Pharmacy</h1>
</div>
<div class="row">

  <div class="col-sm-4 abc text-center" >
    <div class="text-buttons">
      <h2 class="account-text"><b>SignIn</b></h2>
      <h3 class="account-description"><b>Enter into E-Pharmacy Network to get your emergency medicines</b></h3>
      <a routerLink="/signin" class="btn btn-info btn-block sign" ><b>SIGN IN</b></a>
    </div>
  </div>
  <div class="col-sm-8 xyz text-center" >
    <div class="text-buttons">
      <h2 class="account-text"><b>Or SignUp</b></h2>
      <h3 class="account-description"><b>Create Your Account to connect with E-Pharmacy Network</b></h3>
      <a routerLink="/signup" class="btn btn-info btn-block sign" ><b>SIGN UP</b></a>
    </div>
  </div>
</div>
