<navbar></navbar>
<div class="form-group has-search search-bar">
  <span class="fa fa-search form-control-feedback"></span>
  <input  type="text" #box class="search-bar form-control" placeholder="Medicines" />
</div>

<button (click)="getSearchVal(box.value);getResult()" class="btn btn-outline-success btn-space my-2 my-sm-0" >Search</button>

<div *ngIf='showresult' class="searchdiv bg-white btn-space">
  <h1>Results for "{{searchVal}}"</h1>
  <div class="searchdiv bg-white horizontal">
  <div *ngFor="let medicine of medicines " class="results">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="medicine.imageURL" >
      <div class="card-body">
        <h4 class="card-title">{{ medicine.name }}</h4>
        <p class="card-text">Company: {{ medicine.companyName }}</p>
        <p class="card-text">Generic Name: {{ medicine.genericName }}</p>
        <p class="card-text">Price: {{ medicine.unitPrice | currency:'BDT':"৳" }}</p>
        <button (click)="addToCart(medicine.name)" class="btn btn-primary" > Add to cart </button>
      </div>
    </div>
    </div>

  </div>
</div>
